.clients {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.clients__item {
  @media screen and (max-width: 767px) {
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.clients-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
  &:hover {
    border-color: var(--color-text-blue);
    fill: var(--color-text-blue);
  }
  &:focus {
    border-color: var(--color-text-blue);
    fill: var(--color-text-blue);
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
