.header {
  border-bottom: 1px solid #ececec;
  > .container {
    display: flex;
    height: 80px;
    align-items: center;
    @media screen and (max-width: 768px) {
      height: 60px;
    }
  }
}

.header__logo {
  margin-right: 87px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  &:focus {
    color: var(--color-text-blue);
  }
}

.header-menu {
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-menu__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
  &:hover {
    color: var(--color-text-blue);
  }
  &:focus {
    color: var(--color-text-blue);
  }
}

.header-menu__linehover {
  position: relative;
  display: block;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-text-blue);
    border-radius: 2px;
    opacity: 0;
    transition: 250ms;
    bottom: -33px;
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
}
.header-contacts {
  display: block;
  list-style: none;
  margin-left: auto;
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.header-contacts__mail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: color 250ms var(--timing-function);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover {
    color: var(--color-text-blue);
  }
  &:focus {
    color: var(--color-text-blue);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.header-contacts__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms var(--timing-function);
  &:focus {
    color: var(--color-text-blue);
  }
  &:hover {
    color: var(--color-text-blue);
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__hidden {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.hed-mob__btn {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: block;
  height: 40px;
  width: 40px;
  margin-left: auto;
}

.hed-mob__modal {
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
}

.hed-mob__btnclose {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: transparent;
}

.hed-mob__menu {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header-mob__list {
  margin: 0;
}

.hed-mob__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
  &:hover {
    color: var(--color-text-blue);
  }
  &:focus {
    color: var(--color-text-blue);
  }
}

.hed-mob__phone {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color 250ms var(--timing-function);
  &:hover {
    color: var(--color-text-blue);
  }
  &:focus {
    color: var(--color-text-blue);
  }
}

.hed-mob__email {
  margin-top: 50px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms var(--timing-function);
  &:hover {
    color: var(--color-text-blue);
  }
  &:focus {
    color: var(--color-text-blue);
  }
}

.hed-mob__cont-dv {
  list-style: none;
}

.hed-mob__soc {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 64px;
  margin-bottom: 0;
}

.hed-mob__soclink {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 20px;
}

.hed-mob__soclink::after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  right: -20px;
  margin: 0;
}

.hed-mob__email-item {
  margin-top: 32px;
}
