.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
  margin-top: 94px;
  margin-bottom: 50px;
  li:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-button__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--color-text-blue);
    color: var(--color-text-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 94px;
}

.portfolio-blocks__popuptext {
  position: absolute;
  top: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  margin: 0;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}

.portfolio-blocks__popupcontents {
  position: relative;
  overflow: hidden;
}

.portfolio-blocks__item:hover .portfolio-blocks__popuptext {
  transform: translateY(0%);
}

.portfolio-blocks li {
  outline: 1px solid #eeeeee;
  transition: outline 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  &:hover,
  &:focus {
    outline: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-blocks__name {
  padding: 20px 24px;
}

.portfolio-blocks h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}

.portfolio-blocks__class {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}
