.team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: inherit;
  }
  p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  li {
    background-color: #ffffff;
  }
}

.team__data {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.team__soc-icon {
  fill: #afb1b8;
}
