.work {
  padding-bottom: 94px;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__block {
  position: relative;
}

.work__text {
  position: absolute;
  width: 100%;
  bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.work__list {
  display: flex;
}

.work__list li:not(:last-child) {
  margin-right: 30px;
}
